body {
	margin: 0;
	background: rgba(255, 160, 0, 0.3);
	font-family: Georgia, serif;
	font-size: 18px;
	}
	
img {
	width: 49%;
	height: auto;
	}
	
#rap {
	width:70%;
	height:auto;
	margin-left: 15%;
	margin-right: auto;
	}
	
#sn {
	width:30%;
	height:auto;
	margin-left:35%;
	margin-right: auto;
	}
	
h1 {
	background-color:lightblue;
    text-align:center;
    color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 32%;
    margin-right:32%;
    }
    
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #b11;
	position: fixed;
	top: 1;
	width: 100%;
	}

li {
	float: left;
	}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	}

li a:hover {
	background-color: #11f;
	}